.login{
	margin-top: 30vh;
}

.body{
	background-color: #adc2eb;
}

.table{
	margin-top: 20vh;
}
table,th,td{
	border: 1px solid !important;
}

.body2{
	background-color: #adc2eb;
}

.contact{
	margin-top: 20vh;
}

.body3{
	background-color: #adc2eb;
}
